<%- include('../common/head', {title: 'Privacy Policy', description: '' + locals.appName}) %>
<div style="padding:15px;">
    <h1 style="text-align:center"><strong>PRIVACY NOTICE</strong></h1>
    <p> </p>
    <p><span style="font-weight:400">Effective Date: </span><em><span style="font-weight:400">May 7, 2020</span></em><span style="font-weight:400"><br></span><span style="font-weight:400">Privacy Notice Version: 1.0</span></p>
    <p> </p>
    <p><span style="font-weight:400">Data Controller Contact Information:</span></p>
    <p><span style="font-weight:400">Stevara, LLC</span></p>
    <p><span style="font-weight:400">Email: </span><a href="mailto:support@bpcorrect.com" target="_blank"><span style="font-weight:400">support@bpcorrect.com</span></a></p>
    <p> </p>
    <p><span style="font-weight:400">This document governs the privacy notice of our website </span><a href="http://www.bpcorrect.com" target="_blank"><span style="font-weight:400">www.bpcorrect.com</span></a><span style="font-weight:400">, our BPCorrect portal, and our BPCorrect app, collectively and herein after referenced as the “</span><em><span style="font-weight:400">Platform</span></em><span style="font-weight:400">.”</span></p>
    <p> </p>
    <p><span style="font-weight:400">This privacy notice tells you what personal data and non-personal data (collectively “</span><em><span style="font-weight:400">data</span></em><span style="font-weight:400">”) we may collect from you, how we collect such data, how we protect such data, how we share such data, how you can access and change such data, and how you can limit our sharing of such data. Our privacy notice also explains certain legal rights that you have with respect to your personal data. Any capitalized terms not defined herein will have the same meaning as where they are defined elsewhere on our Platform.</span></p>
    <p> </p>
    <h3><strong>DEFINITIONS</strong></h3>
    <ol>
    <li><span style="font-weight:400"> Non-Personal Data (“</span><em><span style="font-weight:400">NPD</span></em><span style="font-weight:400">”) is information that is in no way personally identifiable.</span></li>
    </ol>
    <p> </p>
    <ol start="2">
    <li><span style="font-weight:400"> Personal Data (“</span><em><span style="font-weight:400">PD</span></em><span style="font-weight:400">”) means any information relating to an identified or identifiable natural person (a “</span><em><span style="font-weight:400">data subject</span></em><span style="font-weight:400">”). An identifiable natural person is one who can be identified directly or indirectly by reference to an identifier such as a name, an identification number, location data, an online identifier, or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural, or social identity of that natural person. PD is in many ways the same as Personally Identifiable Information (“</span><em><span style="font-weight:400">PII</span></em><span style="font-weight:400">”). </span></li>
    </ol>
    <p> </p>
    <h3><strong>TABLE OF CONTENTS:</strong></h3>
    <ul>
    <li style="font-weight:400"><span style="font-weight:400">Your Rights</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Information We Collect and How We Collect It </span></li>
    <li style="font-weight:400"><span style="font-weight:400">How Your Information Is Used and Shared</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Retaining and Destroying Your PD </span></li>
    <li style="font-weight:400"><span style="font-weight:400">Updating Your PD</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Revoking Your Consent for Using Your PD</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Protecting the Privacy Rights of Third Parties</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Do Not Track Settings</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Links to Other Websites</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Protecting Children’s Privacy</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Our Email Policy</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Our Security Policy</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Use of Your Credit Card</span></li>
    <li style="font-weight:400"><span style="font-weight:400">Changes to Our Privacy Notice</span></li>
    </ul>
    <p><br><br></p>
    <h2><span style="font-weight:400">YOUR RIGHTS</span></h2>
    <h2><strong>When using our services and submitting PD to us, you have certain rights. </strong></h2>
    <p> </p>
    <ul>
    <li><strong><em><span style="font-weight:400">The Right to Be Informed</span> <span style="font-weight:400">-</span> <span style="font-weight:400">You have the right to be informed about the PD that we collect from you and how we process the data. </span></em></strong></li>
    </ul>
    <ul>
    <li><span style="font-weight:400">The Right of Access</span> <span style="font-weight:400">-</span> <span style="font-weight:400">You have the right to get confirmation that your PD is being processed and you have the ability to access your PD.</span></li>
    </ul>
    <ul>
    <li><span style="font-weight:400">The Right to Erasure (Right to Be Forgotten)</span> <span style="font-weight:400">- You have the right to request the removal or deletion of your PD if there is no compelling reason for us to continue processing such data.</span></li>
    </ul>
    <ul>
    <li><span style="font-weight:400">The Right to Restrict Processing</span><span style="font-weight:400"> - You have the right to ‘</span><span style="font-weight:400">block’</span><span style="font-weight:400"> or restrict the processing of your PD. When your PD is restricted, we are permitted to store your data, but not to process such data any further than it has already been processed.</span></li>
    </ul>
    <ul>
    <li><em><span style="font-weight:400">Automated Individual Decision-Making and Profiling</span></em><span style="font-weight:400"> - You have the right not to be subject to a decision based solely on automated processing.  </span></li>
    </ul>
    <p> </p>
    <p> </p>
    <h3><strong>YOUR CALIFORNIA PRIVACY RIGHTS </strong></h3>
    <p><span style="font-weight:400">As a consumer located in the State of California, you have certain rights under the California Consumer Privacy Act (“</span><em><span style="font-weight:400">CACPA</span></em><span style="font-weight:400">”) AB 375, some of these rights include:</span><span style="font-weight:400"><br><br></span></p>
    <ol>
    <li style="font-weight:400"><span style="font-weight:400">the right to know what personal information is being collected about you.</span></li>
    <li style="font-weight:400"><span style="font-weight:400">the right to know whether your personal information is sold or disclosed and to whom.</span></li>
    <li style="font-weight:400"><span style="font-weight:400">the right to say no to the sale of your personal information. </span></li>
    <li style="font-weight:400"><span style="font-weight:400">the right to access your personal information. </span></li>
    <li style="font-weight:400"><span style="font-weight:400">the right of the deletion of your personal information. </span></li>
    <li style="font-weight:400"><span style="font-weight:400">the right of equal service, price, and non-discrimination if you exercise your privacy rights. </span></li>
    <li style="font-weight:400"><span style="font-weight:400">one or more designated means for consumers located in the State of California to submit requests under the CACPA including (at a minimum) a toll-free number, and if the business maintains an Internet website, a website address.</span><span style="font-weight:400"><br><br></span></li>
    </ol>
    <p><span style="font-weight:400">Personal information includes:</span></p>
    <ul>
    <li style="font-weight:400"><span style="font-weight:400">categories of personal information that a business collected about the consumer; </span></li>
    <li style="font-weight:400"><span style="font-weight:400">categories of sources from which the personal information was collected;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">specific pieces of personal information that the business has collected about consumers;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">categories of third parties with whom the business shares personal information; and </span></li>
    <li style="font-weight:400"><span style="font-weight:400">the business or commercial purpose of collecting or selling personal information. </span></li>
    </ul>
    <p> </p>
    <h2><strong>INFORMATION WE COLLECT AND HOW WE COLLECT IT</strong></h2>
    <p><span style="font-weight:400">Generally, you control the amount and type of information that you provide to us when using our Platform.</span></p>
    <p> </p>
    <h3><strong>WHEN REGISTERING ON OUR PROVIDER PORTAL</strong></h3>
    <p><span style="font-weight:400">When you register as a user of our provider portal, we may collect some or all of the following information: your practice name, practice address, city, state, zip code, medical director, medical director’s email address, practice admin name, practice admin address, practice admin contact number, practice admin user name and practice admin password.</span><span style="font-weight:400"><br><br></span></p>
    <h3><strong>WHEN USING OUR APP</strong></h3>
    <p><span style="font-weight:400">When you use register to use our app, we collect your first and last name, email address,  credit card or other payment information and phone number. </span></p>
    <p> </p>
    <p><strong>WHEN USING OUR PLATFORM</strong></p>
    <p><span style="font-weight:400">Users routinely submit user data to us when using our services, including vital signs (blood pressure and pulse).</span></p>
    <p> </p>
    <p><strong>INFORMATION WE COLLECT FROM THE PRACTICE ADMIN</strong></p>
    <p><span style="font-weight:400">We may collect some or all of the following information from the practice admin:</span></p>
    <p><strong>PROVIDER INFORMATION</strong><span style="font-weight:400">: provider name, provider email address, username, and password.</span></p>
    <p><strong>CLINICAL STAFF INFORMATION</strong><span style="font-weight:400">: clinical staff name, clinical staff email address, option to assign clinical staff member to a provider, username and password.</span></p>
    <p><strong>PATIENT INFORMATION</strong><span style="font-weight:400">: patient name, date of birth, medical record number, email address, physical address, provider, city, state, zip code, username and password.</span></p>
    <p> </p>
    <p><strong>AUTOMATIC INFORMATION</strong></p>
    <p><span style="font-weight:400">We automatically receive information from your web browser or mobile device. This information may include the name of the website from which you entered our Platform, if any, as well as the name of the website you’ll visit when you leave our Platform. This information may also include the IP address of your computer, the proxy server you use to access the Internet, your Internet service provider’s name, your web browser type, the type of mobile device, your computer operating system, and data about your browsing activity when using our Platform. We use all this information to analyze trends among our users to help improve our Platform.</span></p>
    <p> </p>
    <h3><strong>WHEN ENTERING AND USING OUR PLATFORM</strong></h3>
    <p><span style="font-weight:400">When you enter and use our Platform and agree to accept cookies, some of these cookies may contain your PD.</span></p>
    <p> </p>
    <h3><strong>OUR USE OF COOKIES</strong></h3>
    <p><span style="font-weight:400">Our Platform uses cookies. A cookie is a small piece of data or a text file that is downloaded to your computer or mobile device when you access certain websites. Cookies may contain text that can be read by the web server that delivered the cookie to you. The text contained in the cookie generally consists of a sequence of letters and numbers that uniquely identifies your computer or mobile device; it may contain other information as well. </span></p>
    <p> </p>
    <p><span style="font-weight:400">By agreeing to accept our use of cookies, you are giving us and the third parties with which we partner permission to place, store, and access some or all the cookies described below on your computer.</span></p>
    <p> </p>
    <ul>
    <li style="font-weight:400"><em><span style="font-weight:400">Strictly Necessary Cookies</span></em><span style="font-weight:400"> - These cookies are necessary for proper functioning of the Platform, such as displaying content, logging in, validating your session, responding to your request for services, and other functions. Most web browsers can be set to disable the use of cookies. If you disable these cookies, you may not be able to access features on our Platform correctly or at all.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Performance Cookies</span></em><span style="font-weight:400"> - These cookies collect information about the use of the Platform, such as pages visited, traffic sources, users’ interests, content management, and other measurements.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Functional Cookies</span></em><span style="font-weight:400"> - These cookies enable the Platform to remember users’ choices, such as their language, usernames, and other choices while using the Platform. They can also be used to deliver services, such as letting a user create a blog post, listen to audios, or watch videos on the Platform.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Media Cookies</span></em><span style="font-weight:400"> - These cookies can be used to improve the Platform’s performance and provide special features and content. They can be placed by us or third parties who provide services to us.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Advertising or Targeting Cookies</span></em><span style="font-weight:400"> - These cookies are usually placed and used by advertising companies to develop a profile of your browsing interests and serve advertisements on other websites that are related to your interests. You will see less advertising if you disable these cookies.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Session Cookies</span></em><span style="font-weight:400"> - These cookies allow a Platform to link the actions of a user during a browser session. They may be used for a variety of purposes, such as remembering what a user has put in their shopping cart as they browse a Platform. Session cookies also permit users to be recognized as they navigate a Platform so that any item or page changes they make are remembered from page to page. Session cookies expire after a browser session; they are not stored long term.</span></li>
    <li style="font-weight:400"><em><span style="font-weight:400">Persistent Cookies</span></em><span style="font-weight:400"> - These cookies are stored on a user’s device between browser sessions, which allows the user’s preferences or actions across a website or across different websites to be remembered. Persistent cookies may be used for several purposes, including remembering users’ choices and preferences when using a Platform or to target advertising to them.</span></li>
    <li style="font-weight:400"><span style="font-weight:400">We may also use cookies for:</span></li>
    <ul>
    <li style="font-weight:400"><span style="font-weight:400">identifying the areas of our Platform that you have visited;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">personalizing content that you see on our Platform;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">our Platform analytics;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">remarketing our products or services to you;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">remembering your preferences, settings, and login details;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">targeted advertising and serving ads relevant to your interests;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">affiliate marketing;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">allowing you to post comments; and</span></li>
    <li style="font-weight:400"><span style="font-weight:400">allowing you to share content with social networks.</span></li>
    </ul>
    </ul>
    <p> </p>
    <h3><strong>WEB BEACONS</strong></h3>
    <p><span style="font-weight:400">We may also use a technology called web beacons to collect general information about your use of our Platform and your use of special promotions or newsletters. The information we collect by web beacons allows us to statistically monitor the number of people who open our emails. Web beacons also help us to understand the behavior of our customers and users.</span></p>
    <p> </p>
    <h3><strong>GOOGLE ANALYTICS</strong></h3>
    <p><span style="font-weight:400">Our Platform uses Google Analytics to collect information about the use of our Platform. Google Analytics collects information from users such as age, gender, interests, demographics, how often they visit our Platform, what pages they visit, and what other websites they have used before coming to our Platform. We use the information we get from Google Analytics to analyze traffic, improve our marketing, advertising, and Platform. Google Analytics collects only the IP address assigned to you on the date you visit our Platform, not your name or other identifying information. We do not combine the information collected using Google Analytics with PD. Although Google Analytics plants a permanent cookie on your web browser to identify you as a unique user the next time you use our Platform, the cookie cannot be used by anyone but Google. Google also uses specific identifiers to help collect information about the use of our Platform. </span></p>
    <p> </p>
    <ul>
    <li style="font-weight:400"><span style="font-weight:400">For more information on how Google collects and processes your data visit: </span><a href="https://www.google.com/policies/privacy/partners/" target="_blank"><span style="font-weight:400">https://www.google.COM/<wbr>policies/privacy/partners/</span></a></li>
    <li style="font-weight:400"><span style="font-weight:400">You can prevent Google Analytics from using your information by opting out at this link: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/<wbr>dlpage/gaoptout</a></span></li>
    </ul>
    <p> </p>
    <h3><strong>WHAT HAPPENS IF YOU DON’T GIVE US YOUR PD</strong></h3>
    <p><span style="font-weight:400">If you do not provide us with enough PD, we may not be able to provide you all our products and services. However, you can access and use some parts of our Platform without giving us your PD.</span></p>
    <p> </p>
    <h2><strong>HOW YOUR INFORMATION IS USED AND SHARED</strong></h2>
    <p><span style="font-weight:400">We use the information we receive from you to:</span><span style="font-weight:400"><br><br></span></p>
    <ul>
    <li style="font-weight:400"><span style="font-weight:400">provide our products and services you have requested or purchased from us;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">personalize and customize our content;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">make improvements to our Platform;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">contact you with updates to our Platform, products, and services;</span></li>
    <li style="font-weight:400"><span style="font-weight:400">resolve problems and disputes; and</span></li>
    <li style="font-weight:400"><span style="font-weight:400">contact you with marketing and advertising that we believe may be of interest to you.</span></li>
    </ul>
    <p> </p>
    <h3><strong>COMMUNICATIONS AND EMAILS</strong></h3>
    <p><span style="font-weight:400">When we communicate with you, we will use the email address you provided when you registered as a user or customer. We may also send you emails with promotional information about our Platform or offers from us or our affiliates unless you have opted out of receiving such information. You can change your contact preferences at any time through your account or by contacting us using the contact information at the top of this privacy notice.</span></p>
    <p> </p>
    <h3><strong>SHARING INFORMATION WITH AFFILIATES AND OTHER THIRD PARTIES</strong></h3>
    <p><span style="font-weight:400">We may provide your PD to third-party service providers whom we hire to provide services to us. These third-party service providers may include but are not limited to physicians, physician attendants, nurses, health specialists, payment processors, web analytics companies, advertising networks, data management services, law firms, shopping cart and email service providers. We do not sell or rent your PD to third parties for marketing purposes. However, for data aggregation purposes we may use your NPD, which might be sold to other parties at our discretion. Any such data aggregation would not contain any of your PD.</span></p>
    <p> </p>
    <h3><strong>LEGALLY REQUIRED RELEASES OF INFORMATION</strong></h3>
    <p><span style="font-weight:400">We may be legally required to disclose your PD if such disclosure is (a) required by subpoena, law, or other legal process; (b) necessary to assist law enforcement officials or governmental enforcement agencies; (c) necessary to investigate violations of or otherwise enforce our terms and conditions; (d) necessary to protect us from legal action or claims from third parties, including you and/or other users; or (e) necessary to protect the legal rights, personal/real property, or personal safety of our company, users, employees, and affiliates.</span><span style="font-weight:400"><br><br></span></p>
    <h3><strong>DISCLOSURES TO SUCCESSORS</strong></h3>
    <p><span style="font-weight:400">If our business is sold or merges in whole or in part with another business that would become responsible for providing our Platform to you, we retain the right to transfer your PD to the new business. The new business would retain the right to use your PD according to the terms of this privacy notice as well as to any changes to this privacy notice as instituted by the new business. We also retain the right to transfer your PD if our company files for bankruptcy and some or all of our assets are sold to another individual or business.</span></p>
    <p> </p>
    <h2><strong>RETAINING AND DESTROYING YOUR PD</strong></h2>
    <p><span style="font-weight:400">We retain information that we collect from you (including your PD) only for as long as we need it for legal, business, or tax purposes. Your information may be retained in electronic, paper, or a combination of both forms. When your information is no longer needed, we will destroy, delete, or erase it.</span></p>
    <p> </p>
    <h2><strong>UPDATING YOUR PD</strong></h2>
    <p><span style="font-weight:400">You can update your PD using services found on our Platform. If no such services exist, you can contact us using the contact information found at the top of this privacy notice and we will help you. However, we may keep your PD as needed to enforce our agreements and to comply with any legal obligations.</span></p>
    <p> </p>
    <h2><strong>REVOKING YOUR CONSENT FOR USING YOUR PD</strong></h2>
    <p><span style="font-weight:400">You have the right to revoke your consent for us to use your PD at any time. Such optout will not affect disclosures otherwise permitted by law including, but not limited to: (i) disclosures to affiliates and business partners, (ii) disclosures to third-party service providers that provide certain services for our business, such as payment processors, web analytics companies, advertising networks, call centers, data management services, help desk providers, accountants, law firms, auditors, shopping cart and email service providers, and shipping companies, (iii) disclosures to third parties as necessary to fulfill your requests, (iv) disclosures to governmental agencies or law enforcement departments, or as otherwise required to be made under applicable law, (v) previously completed disclosures to third parties, or (vi) disclosures to third parties in connection with subsequent contests or promotions you may choose to enter, or third-party offers you may choose to accept. If you want to revoke your consent for us to use your PD, please contact us through the contact information at the top of this privacy notice.</span></p>
    <p> </p>
    <h2><strong>PROTECTING THE PRIVACY RIGHTS OF THIRD PARTIES</strong></h2>
    <p><span style="font-weight:400">If any postings you make on our Platform contain information about third parties, you agree to make sure that you have permission to include that information. While we are not legally liable for the actions of our users, we will remove any postings about which we are notified, if such postings violate the privacy rights of others.</span></p>
    <p> </p>
    <h2><strong>DO NOT TRACK SETTINGS</strong></h2>
    <p><span style="font-weight:400">Some web browsers have settings that enable you to request that we do not track your movement within our Platform. Our Platform does not obey such settings when transmitted to and detected by our Platform. You can turn off tracking features and other security settings in your browser by referring to your browser’s user manual.</span></p>
    <p> </p>
    <h2><strong>LINKS TO OTHER WEBSITES</strong></h2>
    <p><span style="font-weight:400">Our Platform may contain links to other websites. These websites are not under our control and are not subject to our privacy notice. These websites will likely have their own privacy notices. We have no responsibility for these websites, and we provide links to these websites solely for your convenience. You acknowledge that your use of and access to these websites are solely at your risk. It is your responsibility to check the privacy notices of these websites to see how they treat your PD. </span></p>
    <p> </p>
    <h2><strong>PROTECTING CHILDREN’S PRIVACY</strong></h2>
    <p><span style="font-weight:400">Even though our Platform is not designed for use by anyone under the age of</span> <span style="font-weight:400">eighteen (18), we realize that a child under the age of eighteen (18) may attempt to access our Platform. We do not knowingly collect PD from children under the age of eighteen (18). If you are a parent or guardian and believe that your child is using our Platform, please contact us. Before we remove any information, we may ask for proof of identification to prevent malicious removal of account information. If we discover that a child is accessing our Platform, we will delete his/her information within a reasonable period of time. You acknowledge that we do not verify the age of our users nor have any liability to do so. </span></p>
    <p> </p>
    <h2><strong>OUR EMAIL POLICY </strong></h2>
    <p><span style="font-weight:400">You can always opt out of receiving email correspondence from us or our affiliates. We will not sell, rent, or trade your email address to any unaffiliated third party without your permission except in the sale or transfer of our business, or if our company files for bankruptcy.</span></p>
    <p> </p>
    <h2><strong>OUR SECURITY POLICY</strong></h2>
    <p><span style="font-weight:400">We have built our Platform using industry-standard security measures and authentication tools to protect the security of your PD. We and the third parties who provide services to us also maintain technical and physical safeguards to protect your PD. Unfortunately, we cannot guarantee prevention of loss or misuse of your PD or secure data transmission over the Internet because of its nature. We strongly urge you to protect any password you may have for our Platform and not share it with anyone.</span></p>
    <p> </p>
    <h2><strong>USE OF YOUR CREDIT CARD</strong></h2>
    <p><span style="font-weight:400">You may have to provide a credit card to buy products and services from our Platform. We use third-party billing services and have no control over them. We use commercially reasonable efforts to ensure that your credit card number is kept strictly confidential by using only third-party billing services that use industry-standard encryption technology to protect your credit card number from unauthorized use. However, you understand and agree that we are in no way responsible for any misuse of your credit card number. </span></p>
    <p> </p>
    <h2><strong>CHANGES TO OUR PRIVACY NOTICE</strong></h2>
    <p><span style="font-weight:400">We reserve the right to change this privacy notice at any time. If our company decides to change this privacy notice, we will post those changes on our Platform so that our users and customers are always aware of what information we collect, use, and disclose. If at any time we decide to disclose or use your PD in a method different from that specified at the time it was collected, we will provide advance notice by email sent to the email address on file in your account. Otherwise we will use and disclose our users’ and customers’ PD in agreement with the privacy notice in effect when the information was collected. In all cases your continued use of our Platform, services, and products after any change to this privacy notice will constitute your acceptance of such change. If you have questions about our privacy notice, please contact us through the information at the top of this privacy notice.</span></p>
    <p><span style="font-weight:400"><br></span><span style="font-weight:400">Copyright ©2020. This Privacy Notice is protected under United States and foreign copyrights. The copying, redistribution, use or publication by you, is strictly prohibited. </span></p>
    <p><br><br><br></p>
    </div>
<%- include('../common/foot') %>